.submit-button {
    margin-right: 5px;
}

.csv-input, .template-download {
    padding: 10px;
    display: block;
}

.template-download {
    margin-top: 15px;
}

.csv-input {
    margin-bottom: 15px;
}

.review-prompt {
    margin-top: 10px;
}

